# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so
*.egg-info/
.env
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/

# --- IDE / VS Code ---
.vscode/
.idea/
*.code-workspace

# --- Jupyter ---
*.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Data / Models ---
data/*
!data/.gitkeep

saved_models/*
results/*
*.ckpt
*.bin
*.h5
*.pt
*.pth

# --- Logs / Outputs ---
logs/
*.log
wandb/
mlruns/
cache/
tmp/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- App / Deployment ---
app/__pycache__/
app/*.db
app/*.sqlite3
# 
Test_Files/*
Test_Output/*
code.ipynb
# Models
models/*
# Reports
reports/*