selenium
beautifulsoup4
PyMuPDF
pdfplumber
tqdm
torch
transformers
peft
rouge_score
sentencepiece
pandas
numpy
scikit-learn
nltk
spacy
bert-score
datasets
streamlit
pip install transformers peft bitsandbytes accelerate datasets sentencepiece
